.Toolbar{
  & > .group{
    text-align: center;
    & > header{
      background: #eee;
      padding: 5px 3px;
      margin-bottom: 5px;
    }
    & > main{
      & > div{
        padding: 10px 5px;
      }
      svg{font-size: 2em;}
      svg:hover{opacity: 0.6;}
    }
  }
}
